
CMPUT301W24T33/.idea/
.idea/
CMPUT301W24T33/.idea/misc.xml
.gradle/8.2/executionHistory/executionHistory.bin
.gradle/8.2/executionHistory/executionHistory.lock
.gradle/8.2/fileHashes/fileHashes.bin
.gradle/8.2/fileHashes/fileHashes.lock
.gradle/8.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/config.properties
.gradle/file-system.probe
local.properties
